<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://dam2.mysql.iesquevedo.es:3335/profesor_periodico</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- pool configuration -->
        <property name="hibernate.hikari.connectionTimeout">20000</property>
        <property name="hibernate.hikari.minimumIdle">10</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>



        <mapping class="wizard.test1.Enroll"/>
        <mapping class="wizard.test1.Members"/>
        <mapping class="wizard.test1.Student"/>
        <mapping class="wizard.test1.Subject"/>
        <mapping class="wizard.test1.Teacher"/>
        <mapping class="wizard.test1.Typeuser"/>
        <mapping class="wizard.test1.User"/>
        <mapping class="dao.modelo.test.Articulos"/>
        <mapping class="dao.modelo.test.ArticulosLeidos"/>
        <mapping class="dao.modelo.test.Autores"/>
        <mapping class="dao.modelo.test.Lectores"/>
        <mapping class="dao.modelo.test.Periodicos"/>
        <mapping class="dao.modelo.test.Suscripciones"/>
        <mapping class="dao.modelo.test.TiposArticulo"/>
        <mapping class="dao.modelo.test.TiposUsuario"/>
        <mapping class="dao.modelo.test.Usuarios"/>

    </session-factory>
</hibernate-configuration>
